label,
input,
button {
  margin: 10px;
  padding: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
}

.successMessage {
  color: rgb(23, 109, 23);
}
.errorMessage {
  color: red;
}
.d-block {
  display: block;
}
.d-hidden {
  display: none;
}
footer {
  bottom: 0;
  position: absolute;
  width: 90%;
  height: 40px;
}
